# Ignore compiled Java class and other binary files
/bin
/build

# Ignore the javadoc folder - will need to package these files and archive somewhere
/javadoc

# Ignore the distribution folder created for local distribution and setup.exe files
/dist

# Ignore vi editor swap files
*.swp
*.swo

# Ignore Microsoft Office temporary files
~$*
/bin
